<div id="global-loader">
    <div class="whirly-loader"> </div>
</div>

<div class="main-wrapper">
    <div class="header">
        <div class="header-left active">
            <a class="logo logo-normal" href="/Home/Index">
                <img src="/src/assets/img/logo.png" alt>
            </a>
            <a class="logo logo-white" href="/Home/Index">
                <img src="/src/assets/img/logo1.png" alt>
            </a>
            <a class="logo-small" href="/Home/Index">
                <img src="/src/assets/img/favicon.png" alt>
            </a>
            <a id="toggle_btn" >`
            </a>
        </div>

        <a id="mobile_btn" class="mobile_btn" href="#sidebar">
            <span class="bar-icon">
                <span b-geo0b2jv1f></span>
                <span b-geo0b2jv1f></span>
                <span b-geo0b2jv1f></span>
            </span>
        </a>

        <div class="header-center d-flex align-items-center">
          <div class="coverImg">
                <img b-geo0b2jv1f
                    src="/src/assets/img/logo1.png"
                    class="logoImg" />
            </div> 
            <span style="position:relative; left:20%;"> Premier Foods Distribution</span>
        </div>
    </div>
</div>