<ul class="nav user-menu">

    <li class="nav-item">
        <div class="top-nav-search">

            <a  class="responsive-search">
                <i class="fa fa-search"></i>
            </a>
            <form action="#">
                <div class="searchinputs">
                    <input type="text" placeholder="Search Here ...">
                    <div class="search-addon">
                        <span b-geo0b2jv1f><img src="/src/assets/img/icons/closes.svg" alt="img"></span>
                    </div>
                </div>
                <a class="btn" id="searchdiv"><img src="/src/assets/img/icons/search.svg"
                        alt="img"></a>
            </form>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a  class="dropdown-toggle nav-link"
            data-bs-toggle="dropdown">
            <img src="/src/assets/img/icons/notification-bing.svg" alt="img"> <span b-geo0b2jv1f
                class="badge rounded-pill" id="notifiCount">0</span>
        </a>
        <div class="dropdown-menu notifications">
            <div class="topnav-dropdown-header">
                <span class="notification-title">Cheque Ready for Deposit</span>
            </div>
            <div class="noti-content">

                <table class="table fs-10">
                    <thead>
                        <tr b-geo0b2jv1f>
                            <th class="text-center">Sno</th>
                            <th b-geo0b2jv1f>Party</th>
                            <th b-geo0b2jv1f>Bank</th>
                            <th class="text-center">ChqDate</th>
                            <th class="text-end">Amount</th>
                        </tr>
                    </thead>
                    <tbody id="appendChq">

                    </tbody>
                </table>

            </div>
            <div class="topnav-dropdown-footer">
                <a href="/PDCheque/Index">View all</a>
            </div>
        </div>
    </li>
    <li class="nav-item dropdown has-arrow main-drop">
        <a  class="dropdown-toggle nav-link userset"
            data-bs-toggle="dropdown">
            <span class="user-img">
                <img src="/src/assets/img/customer/customer1.jpg " alt>
                <span class="status online"></span>
            </span>
        </a>
        <div class="dropdown-menu menu-drop-user">
            <div class="profilename">
                <div class="profileset">
                    <span class="user-img">
                        <img src="/src/assets/img/customer/customer1.jpg "
                            alt>
                        <span class="status online"></span>
                    </span>
                    <div class="profilesets">
                        <h6 b-geo0b2jv1f>Softaxe</h6>
                        <h5 b-geo0b2jv1f>Super Admin</h5>
                    </div>
                </div>
                <hr class="m-0">
                <a class="dropdown-item" href="/Account/Profile"> <i class="me-2"
                        data-feather="user"></i> My Profile</a>
                <hr class="m-0">
                <a class="dropdown-item logout pb-0" 
                    onclick="Logout()"><img src="/src/assets/img/icons/log-out.svg" class="me-2"
                        alt="img">Logout</a>
            </div>
        </div>
    </li>
</ul>

<div class="dropdown mobile-user-menu">
    <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/Account/Profile">My Profile</a>
        <a class="dropdown-item"  >Logout</a>
    </div>
</div>
