  .cmp-image{
    width: 175px;
  }

  .fs-28{
    font-size: 28px;
  }

  .sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
    background: #333;
    color: white;
  }
  
  mat-nav-list a {
    color: white;
    text-decoration: none;
  }
  
  mat-nav-list a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  